h1 {
		text-decoration: underline;
		font-family: arial;
		text-align: center;
		color: blue;
		background-color: greenyellow;
		font-size: 46px;
	}
a {
	background-color: yellow;
	color: blue;
	text-decoration: none;
	font-family: time new romans;
   }
a:hover {
	background-color: red;
	}