/*Estilos Generales*/
*{
	outline: dotted 1px red;
}
body {
	font-family: Helvetica, Arial, Open Sans, sans-serif;
	font-size: 14px;
	color: rgb(43,42,42);
	margin: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
/*Estilos Particulares*/
header {
	background-color: rgb(43, 42, 42);
	overflow: hidden;
	padding: 15px;
}
header h1 {
	color: #fff;
	float: left;
	font-weight: 700;
	font-size: 28px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	padding-left: 75px;
	background-position: left center;
	line-height: 150%;
}
header nav {
	float: right;
	padding: 10px;
}
header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav ul li {
	display: inline-block;
	}
header nav a {
	text-align: center;
	padding: 5px;
		}
header nav a:hover {
	color: #333;
	background-color: #fff;
			}